@import "reset";
@import "global";
@import "vars";

@font-face {
  font-family: "TTLakes Regular";
  src: url(../fonts/TTLakes-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "TTLakes Medium";
  src: url(../fonts/TTLakes-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "TTLakes Bold";
  src: url(../fonts/TTLakes-Bold.ttf);
  font-weight: 700;
}

html,
body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  background-color: #F8F8F8;
}

body {
  margin: 0;
}

.container {
  min-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #D9FFF5;
  }

  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    background-color: #FF3E79;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: none;
    margin: 16px 0;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      background-color: $btn-hover;
    }
  }

  &__burger-btn {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: -22px;
      width: 2px;
      height: 32px;
      background-color: #EAEAEA;
      border-radius: 1px;
      display: none;
    }
  }

  &__burger-btn span {
    height: 2px;
    background: #fff;
    border-radius: 1px;
    margin: 5px 11px 0 11px;
    display: flex;
  }

  &__burger-btn span:first-child {
    width: 18px;
  }

  &__burger-btn span:nth-child(2) {
    width: 10px;
  }

  &__burger-btn span:nth-child(3) {
    width: 14px;
    margin-bottom: 5px;
  }

  &__logo {
    margin: 18px 16px;
  }

  &__options {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__repair {
    margin-left: 18px;
  }

  &__options::before {
    background-color: #eaeaea;
    border-radius: 1px;
    content: "";
    height: 32px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 2px;
  }

  &__checkstatus-btn {
    margin-right: 16px;
    margin-left: 18px;
  }

  .contact-btns {
    display: none;
    gap: 16px;
    margin-right: 20px;
  }
}

.top-screen {
  padding-bottom: 25px;

  &__head {
    display: flex;
  }

  &__options {
    display: none;
  }

  .title {
    position: relative;
    margin: 24px 0 24px 16px;
    font-family: 'TTLakes Bold';
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;

    &::before {
      content: '';
      position: absolute;
      width: 8px;
      height: 40px;
      background-color: #41F6D7;
      left: -20px;
      border-radius: 4px;
    }
  }

  &__scroll-box {
    position: relative;
    margin: 0 16px 10px;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
      width: 24px;
      height: 40px;
    }
  }

  &__scroll {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 20px;
  }

  &__scroll-item {
    font-family: 'TTLakes Medium';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    padding: 8px 16px;
    border: 2px solid transparent;
    text-align: center;
    align-self: center;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;

    &:hover,
    &:focus {
      background-color: #fff;
      border: 2px solid #b8ffec;
      border-radius: 6px;
    }
  }

  &__scroll-item--active {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #fff;
  }

  &__content-box {
    display: flex;
    flex-direction: column;
  }

  &__text {
    margin: 0 16px 16px 16px;
  }

  &__text .unactive {
    display: none;
  }

  &__img {
    width: 100%;
    max-width: 531.35px;
  }
}

.readmore {
  font-family: 'TTLakes Medium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 16px;
  margin-bottom: 16px;
  transition: all .3s;

  &:hover {
    color: $text-hover;
  }
}

.arrows-down {
  margin-right: 16px;
}

.brands {
  &__slider-wrapper {
    margin-left: 16px;
  }

  &__item {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 16px;
    width: 240px !important;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
  }

  &__btn {
    margin-left: auto;
  }

  &__pagination-bullet {
    width: 12px;
    height: 12px;
    display: inline-block;
    background-color: #DDDDDD;
    border-radius: 50%;
    margin: 0 6px;
    cursor: pointer;
  }

  &__pagination-bullet--active {
    background-color: #B5B6BC;
  }
}

.showmore {
  font-family: 'TTLakes Medium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 16px;
  margin-bottom: 16px;
  transition: all .3s;

  &:hover {
    color: $text-hover;
  }
}

.block-title {
  position: relative;
  margin-left: 16px;
  height: 80px;

  &::after {
    content: "";
    position: absolute;
    background-image: url(../images/gradient.png);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    height: 80px;
    width: 100%;
    left: 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #D9FFF5;
  }
}

@import "media";